.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
    background-color: var(--bgLight);
}
.logo{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: .5rem;
    cursor: pointer;
    height: 100%;
}

.headerMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 10rem;
}

.headerMenu li{
    height: 6rem;
    padding: 2rem 1.7rem;
    list-style: none;
}

.headerMenu li:hover{
    color: #fff;
    background-color: var(--blue);
    cursor: pointer;
}


@media only screen and (max-width: 430px) {
    .logo > img:last-child{
        display: none;
    }   

    .headerMenu {
        display: none;
    }
}