:root{
    --blue: #4441DF;
    --blueOpacity: rgba(68, 65, 223, 0.77);
    --red: #F51051;
    --bgBlueLight: #E7F6FC;
    --bgLight: #E5E5E5;
    --bgDark: #DADADA;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}